certifi==2020.12.5
chardet==4.0.0
docutils==0.17
idna==2.10
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.3.2
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivy-garden.xcamera==2020.613
kivy-garden.zbarcam==2020.524
numpy==1.20.2
opencv-python==4.5.1.48
Pillow==8.2.0
pygame==2.0.1
Pygments==2.8.1
pypiwin32==223
pywin32==300
pyzbar==0.1.8
requests==2.25.1
urllib3==1.26.4
xcamera==2020.613
zbarcam==2020.524
